@page
@model IdentityServerHost.Pages.Account.Register.IndexModel
@{
    ViewData["Title"] = "Đăng ký";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        @* <form asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
        <form asp-page="/Account/Create/Index" method="post">
            <h4>Tạo tài khoản mới.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="RegisterDTO.UserName"></label>
                <input class="form-control" placeholder="UserName" asp-for="RegisterDTO.UserName" autofocus>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDTO.Email"></label>
                <input class="form-control" placeholder="Email" asp-for="RegisterDTO.Email" autofocus>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDTO.Password"></label>
                <input type="password" class="form-control" placeholder="Password" asp-for="RegisterDTO.Password" autocomplete="off">
            </div>
            <div class="form-group">
                <label asp-for="RegisterDTO.ConfirmPassword"></label>
                <input type="password" class="form-control" placeholder="ConfirmPassword" asp-for="RegisterDTO.ConfirmPassword" autofocus>
            </div>

            <button class="btn btn-primary" name="RegisterDTO.Button" value="create">Create</button>
            <button class="btn btn-secondary" name="RegisterDTO.Button" value="cancel">Cancel</button>
        </form>
        @* </form> *@
    </div>
</div>
